sup {
	position: relative;
	bottom: 5px;
	vertical-align: top;
	font-size: 60%;
}

/* ============== TEXT ALIGN =========== */
.right-align {
	text-align: right;
}
.left-align {
	text-align: left;
}
.center-align {
	text-align: center;
}
/* ===================================== */

/* =============== PADDING ============= */
.no-side-pad {
	padding-right: 0;
	padding-left: 0;
}
.no-right-pad {
	padding-right: 0;
}
.no-left-pad {
	padding-left: 0;
}
/* ===================================== */

/* =============== FLOAT =============== */
.float-right {
	float: right;
}
.float-left {
	float: left;
}
/* ===================================== */

/* =============== MARGIN ============== */
@for $i from 1 through 6 {
	.margin-top-#{$i} {
		margin-top: 5px * $i;
	}
	.margin-right-#{$i} {
		margin-right: 5px * $i;
	}
	.margin-bottom-#{$i} {
		margin-bottom: 5px * $i;
	}
	.margin-left-#{$i} {
		margin-left: 5px * $i;
	}
}

/* ===================================== */