#breadscrumb {
	position: relative;
	background-color: lighten($black, 5%);
	z-index: 2;
	> .container {
		padding: 2px 15px 5px;
	}
	li {
		display: inline-block;
		font-size: em(13);
		&:not(:last-child) {
			&:after {
				content: '\e943';
				font-family: 'RKUv4';
				font-size: em(8);
				color: $gray2;
			}
		}
	}
	a {
		color: $gray2;
		&.disabled {
			color: $white;
			cursor: text;
		}
		&:hover {
			color: $white;
		}
	}
}