/* ================ MISC =============== */

::selection {
	background-color: lighten($purple, 10%);
	color: $white;
}

.full-width {
	/* paksa semua yang pakai class ini, jadi 100% width sesuai parent tag-nya */
	display: block;
	width: 100%;
}

/* ===================================== */

/* ============= TYPOGRAPHY ============ */

@import "font";



html, body {
	color: $text;
	font-size: 14px;
	font-family: 'hind_regular', Helvetica, Arial, sans-serif;
	line-height: em(21);
}

a {
	color: $purple;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
	}
	&:hover {
		color: darken($purple, 5%);
	}
	&:focus, &:active {
		color: darken($purple, 10%);
	}
}

strong {
	font-family: 'hind_bold';
}

@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

#{headings(1,6)} {
	font-family: 'libre_regular', Garamond, serif;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-size: em(36 - ($i * 3));
	}
}

.ttu {
	text-transform: uppercase;
}
.fwb {
	font-weight: 700;
}

.head-title {
	&:after {
		content: '';
		display: block;
		margin-top: 12px;
		margin-bottom: 15px;
		width: 50px;
		height: 1px;
		background-color: $green;
	}
	&.small-hind {
		font-size: em(14);
		font-family: 'hind_bold', sans-serif;
		letter-spacing: 1px;
	}
}

/* ===================================== */

/* =============== BUTTON ============== */

.btn {
	display: inline-block;
	color: $white;
	text-align: center;
	cursor: pointer;
	border: none;
	@include border-radius(3px);
	@include transition(.05s, ease-in-out);
	&:hover, &:focus, &:active {
		color: $white;
		outline: none;
	}
	&.disable {
		cursor: default;
	}
	&.sm {
		padding: 3px 15px;
		height: 25px;
		min-width: 100px;
		font-size: em(13);
	}
	&.md {
		padding: 7px 25px;
		height: 35px;
		min-width: 140px;
		font-size: em(14);
	}
	&.lg {
		padding: 9px 35px;
		height: 45px;
		min-width: 180px;
		font-size: em(14);
		font-family: 'hindbold', Helvetica, Arial, sans-serif;
	}
	&.square {
		min-width: 0;
		padding: 0;
		&.icon {
			background-color: transparent;
			border: none;
			font-size: em(8);
		}
		&.sm {
			width: 15px;
			height: 15px;
			font-size: em(15);
		}
		&.md {
			width: 25px;
			height: 25px;
			font-size: em(20);
		}
		&.lg {
			width: 35px;
			height: 35px;
			font-size: em(28);
		}
	}
	&.with-bg {
		&.green {
			@include btnbg($green);
		}
		&.purple {
			@include btnbg($purple);
		}
		&.white {
			@include btnbg($white);
		}
	}
	&.no-bg {
		background-color: transparent;
		&.color-green {
			color: $green;
			&:hover {
				background-color: $green;
				color: $white;
			}
			&:active, &:focus {
				@include box-shadow(inset 0 2px 5px rgba(0, 0, 0, 0.2));
			}
		}
	}
	&.border-only {
		background-color: transparent;
		border: 1px solid transparent;
		&.green {
			@include boronly($green);
			&:hover, &:active, &:focus {
				color: $white;
			}
		}
		&.purple {
			@include boronly($purple);
			&:hover, &:active, &:focus {
				color: $white;
			}
		}
		&.white {
			@include boronly($white);
			&:hover, &:active, &:focus {
				color: $text;
			}
		}
		&.softwhite2 {
			@include boronly($softwhite2);
			color: $gray2;
			&:hover, &:active, &:focus {
				color: $text;
			}
		}
	}
}

.btn-group {
	>.btn {
		position: relative;;
		float: left;
		@include border-radius(0);
		&:first-child {
			@include border-radius(3px 0 0 3px);
		}
		&:last-child {
			@include border-radius(0 3px 3px 0);
		}
		&:not(:first-child) {
			margin-left: -1px;
		}
	}
	&:after {
		@include clear;
	}
}

/* ===================================== */

/* ================ FORM =============== */

.form-group {
	position: relative;
	@include border-radius(3px);
	i {
		color: $black;
	}
}

.sm {
	height: 25px;
}
.md {
	height: 35px;
}
.lg {
	height: 45px;
}

label {
	color: $gray;
	font-family: 'hind_bold', sans-serif;
	font-size: em(12);
	text-transform: uppercase;
	letter-spacing: 1px;
	&.normal {
		text-transform: none;
		font-size: em(14);
		font-family: 'hind_regular', sans-serif;
		letter-spacing: 0;
	}
}

input,
select,
textarea,
.select {
	background-color: $white;
	border: 1px solid $border;
	padding: 8px 15px;
	@include border-radius(3px);
	@include transition(.05s linear);
	&:focus, &:active {
		outline: none;
		@include box-shadow(none !important);
	}
	&:focus {
		border-color: darken($border, 10%);
	}
}

.input,
.select {
	&.with-label-inside {
		label {
			position: absolute;
			top: 50%;
			right: 10px;
			display: block;
			margin-left: 10px;
			background-color: $white;
			@include transform(translateY(-50%));
			i {
				vertical-align: middle;
			}
		}
	}
}

.select {
	padding: 0;
	a {
		display: block;
		color: $text;
	}
	.dropdown-toggle {
		display: block;
		height: 100%;
		padding: 6px 15px;
	}
	.dropdown-menu {
		left: -1px;
		min-width: 101%;
		max-height: 250px;
		border: 1px solid darken($border, 10%);
		overflow-y: auto;
		@include border-radius(0 0 3px 3px);
		@include box-shadow(none);
		li {
			a {
				padding: 8px 15px;
				&:hover {
					&,
					sup, 
					strong {
						color: $green	
					}
				}
				strong {
					letter-spacing: 1px;
					text-transform: uppercase;
					font-size: em(12);
				}
			}
		}
	}
	&.sm {
		.dropdown-toggle {
			padding: 3px 10px;
		}
	}
	&.open {
		border-color: darken($border, 10%);
		@include border-radius(3px 3px 0 0);
	}
	.free-text {
		position: relative;
		padding: 15px;
		border-bottom: 1px solid $border;
		input {
			padding: 5px;
		}
		label {
			position: absolute;
			top: 50%;
			right: initial;
			left: 50%;
			margin: auto;
			color: $gray2;
			font-size: em(21);
			@include transform(translateX(-50%) translateY(-50%));
		}
	}
}

.radio {
	.form-group {
		display: inline-block;
		margin-right: 30px;
	}
	[type="radio"] {
		display: none;
	}
	[type="radio"] + label {
		cursor: pointer;
		span {
			position: relative;
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: -1px 4px 0 0;
			background-color: $white;
			border: 2px solid $border;
			vertical-align: middle;
			cursor: pointer;
			@include border-radius(50%);
			@include transition(.05s linear);
			span {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 13px;
				height: 13px;
				border: 3px solid $white;
				z-index: -1;
				background-color: transparent;
				@include transform(translateX(-50%) translateY(-43%));
				@include transition(.05s linear);
			}
		}
		&:hover {
			> span {
				border-color: $green;
				@include box-shadow(0 0 3px $green);
			}
		}
	}
	[type="radio"] {
		&:checked + label {
			> span {
				border-color: $green;
				span {
					background-color: $green;
					z-index: 1;
				}
			}
			&:hover {
				> span {
					@include box-shadow(none);
				}
			}
		}
	}
}

.input {
	position: relative;
}


.checkbox {
	vertical-align: middle;
	[type="checkbox"] {
		&:not(:checked),
		&:checked {
			position: absolute;
			left: -9999px;
			&+ label {
				position: relative;
				padding-left: 25px;
				cursor: pointer;
				&:before,
				&:after {
					@include transition(.2s ease);
				}
				&:before {
					content: '';
					position: absolute;
					top: -2px;
					left:0;
					width: 17px;
					height: 17px;
					border: 1px solid #aaa;
					background: $white;
					border-radius: 3px;
				}
				&:after {
					content: "\e94a";
					font-family: 'RKUv4';
					position: absolute;
					top: 2.5px; 
					left: 4px;
					font-size: em(10);
					line-height: 0.8;
					color: #09ad7e;
					transition: all .2s;
					color: $green;
				}
			}
			&:disabled {
				&:not(:checked),
				&:checked {
					&+ label {
						&:before {
							border-color: $border;
							background-color: $white;
							@include box-shadow(none);
						}
					}
				}
				&:checked {
					&+ label {
						&:after {
							color: $disable-text;
						}
					}
				}
				&+ label {
					color: $disable-text;
				}
			}
		}
		&:not(:checked) {
			&+ label {
				&:after {
					opacity: 0;
					@include transition(.2s ease);
				}
			}
			&:hover {
				&+ label {
					&:before {
						border-color: $green;
						@include box-shadow(0 0 3px $green);
					}
				}
			}
		}
		&:checked {
			&+ label {
				&:after {
					opacity: 1;
					@include transition(.2s ease);
				}
				&:before {
					border-color: $green;
				}
			}
		}
	}
	label {
		&:hover {
			&:before {
				border: 1px solid $border;
			}
		}
	}
}

/* ===================================== */ 

/* ================ BOX ================ */

.box {
	position: relative;
	overflow: hidden;
	@include border-radius(3px);
}

/* ===================================== */ 


/* ============== LOADER =============== */

.load-list {
	text-align: center;
	span {
		display: inline-block;
		color: $gray2;
		&.load-icon {
			width: 16px;
			height: 16px;
			display: inline-block;
			background: url(../images/rku-typeface-load.png) no-repeat;
			vertical-align: middle;
			@include animation(rotateplane 1.5s infinite ease);
		}

	}
}
// Load List Keyframes
@include keyframes(rotateplane) {
	0% { @include transform(perspective(120px)) }
	50% { @include transform(perspective(120px) rotateY(180deg)) }
	100% { @include transform(perspective(120px) rotateY(0deg)) }
}

/* ===================================== */ 

/* =============== IMAGE =============== */

.image-package {
	display: block;
	background-color: #f0f0f0;
	z-index: 1;
	&.thumb-image {
		width: 60px;
		height: 60px;
	}
	&.contact-photo {
		width: 80px;
		height: 80px;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100%;
		z-index: 1;
		@include transform(translateX(-50%) translateY(-50%));
	}
}
	
/* ===================================== */ 

/* ================ ADS ================ */

.ads {
	margin: 15px auto;
	display: block;
	&.ads-300 {
		width: 300px;
		height: 250px;
	}
	&.ads-720 {
		width: 720px;
		height: 90px;
	}
	&.ads-1200 {
		width: 1200px;
		height: 90px;
	}
}

/* ===================================== */ 
