#main-search, #dashboard-search {
	position: relative;
	z-index: $three;
	.search-detail {
		color: $text;
		i {
			font-size: em(10);
			color: $text;
		}
	}
	#search-detail-content {
		position: absolute;
		top: 0;
		width: 100%;
		height: 0;
		background-color: #fcfcfc;
		overflow: hidden;
		@include transition(.1s linear);
		.form-group {
			margin-bottom: 30px;
		}
		&.open {
			position: absolute;
			height: auto;
			overflow: initial;
		}
	}
	.close-detail {
		bottom: 0;
		border-bottom: none;
		@include border-radius(3px 3px 0 0);
	}
	.src-trigger {
		> input, > select, > .select, > textarea {
			&:active, &.open, &:focus {
				@include box-shadow(none);
			}
		}
	}
}
#main-search {
	margin-bottom: 30px;
	.main-search-info {
		position: relative;
		padding: 25px 0;
		background-color: darken($purple, 5%); // Old browsers
		z-index: 11;
		@include box-shadow(inset 0 2px 10px rgba(0, 0, 0, 0.5));
		i {
			color: $text;
		}
		.select {
			.dropdown-menu {
				min-width: 250px;
				z-index: 12;
			}
		}
		.btn.white {
			padding: 5px 25px;
		}
	}
	.for-location-search {
		.btn {
			cursor: default;
		}
		input {
			padding-right: 35px;
		}
		i {
			vertical-align: initial;
		}
	}
	.free-text {
		border-color: #e6e6e6;
	}
	#search-detail-content {
		padding: 30px 0;
		&.open {
			top: 85px;
		}
	}
	.search-detail {
		display: block;
		text-align: center;
		i {
			font-size: em(8);
		}
	}
	.open-detail, .close-detail {
		position: absolute;
		left: 50%;
		padding: 3px 30px;
		font-size: em(13);
		background-color: darken($softwhite2, 5%);
		border: 1px solid darken($softwhite2, 15%);
		color: lighten($text, 30%);
		cursor: pointer;
		@include text-shadow(0 1px 0 $white);
		@include transform(translateX(-50%));
		@include box-shadow(inset 0 2px 8px rgba(0, 0, 0, 0.05));
	}
	.open-detail {
		bottom: -23px;
		border-top: none;
		@include border-radius(0 0 3px 3px);
	}
}

#dashboard-search {
	position: relative;
	background-color: #fafafa;
	border: 1px solid $border;
	@include border-radius(3px);
	&:after {
		@include clear;
	}
	label {
		span {
			padding-top: 2px;
		}
	}
	.keyword-search {
		input {
			border: none;
			border-right: 1px solid $border;
			padding: 10px 15px;
			@include border-radius(3px 0 0 3px);
		}
	}
	.search-detail {
		display: block;
		padding: 10px 4px;
	}
	.open-detail {
		background-color: $softwhite2;
	}
	#search-detail-content {
		left: -1px;
		border: 1px solid $border;
		@include box-sizing(content-box);
		&.open {
			top: 41px;
			// @include box-shadow(inset 0 6px 10px -6px rgba(0, 0, 0, 0.3), 0 5px 10px -5px rgba(0, 0, 0, 0.3));
		}
	}
}

#search-title {
	border-bottom: 1px solid $border;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.search-trigger, .search-submit, .contact-trigger {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 16;
}
.search-submit {
	padding: 15px 15px 0;
	display: none;
	border-top: 1px solid $softwhite2;
	background-color: $white;
}
.search-trigger, .contact-trigger {
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.9);
}

.dashboard-search-info {
	position: relative;
	z-index: 11;
	&:after {
		@include clear;
	}
}