.on-mobile {
	display: none;
}
.on-desktop {
	display: block;
}

.affix {
	position: fixed;
}

.full-width {
	/* paksa semua yang pakai class ini, jadi 100% width sesuai parent tag-nya */
	width: 100%;
	display: block;
}
.fifty-width {
	/* paksa semua yang pakai class ini, jadi 50% width sesuai parent tag-nya */
	width: 50%;
	display: block;
}

.disabled,
[disabled] {
	cursor: not-allowed;
}

.italic {
	font-style: italic;
}

.small-text {
	font-size: em(13);
}

.table {
	display: table;
}
.cell {
	display: table-cell;
}

.dropdown-menu {
	&.percent-width {
		min-width: 0;
		padding-right: 0;
		width: 100%;
		@include box-sizing(content-box);
	}
}

.rku-logo {
	display: block;;
	width: 180px;
	height: 21px;
	margin-top: 10px;
	background: url(../images/rku-logo.png) no-repeat scroll;
	background-size: cover;
	text-indent: -9999em;
	vertical-align: middle;
}

.property-price {
	font-family: $font-bold;
	font-size: em(18);
}

.mortgage {
	line-height: em(16);
	margin-bottom: 15px;
	i {
		font-size: em(8);
		vertical-align: middle;
	}
	.dropdown-menu {
		margin-top: 5px;
		min-width: 330px;
		background-color: transparent;
	}
	.mortgage-header {
		position: relative;
		padding: 5px 15px;
		background-color: #214798;
		overflow: hidden;
		.title {
			padding: 3px 0 2px;
			color: $white;
			font-size: em(13);
			text-transform: uppercase;
			float: left;
		}
		.brand-logo {
			height: 23px;
			float: right;
			position: relative;
			z-index: 1;
			img {
				height: 100%;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: -20px;
			display: block;
			height: 100%;
			width: 150px;
			background-color: #FFDE03;
			@include transform(skewX(-30deg));
		}
		&:after {
			@include clear;
		}
	}
	.mortgage-body {
		padding-bottom: 15px;
		border-bottom: 1px solid $border;
		background-color: $white;
		> div {
			padding: 15px 15px 0;
			label {
				font-family: $font-regular;
				color: $gray2;
			}
			span {
				color: $black;
				&.installment {
					font-family: $font-bold;
					font-size: em(16);
					color: #214798;
				}
			}
		}
		.terms {
			margin: 0 15px;
			font-size: em(11);
			label {
				display: block;
				color: $gray2;
			}
			span {
				color: $gray2;
				&.tenure {
					&:after {
						content: '|';
						display: inline-block;
						margin: 0 3px 0 5px;
					}
				}
			}
		}
	}
	.mortgage-footer {
		padding: 15px;
		background-color: $softwhite;
		div {
			padding-right: 7.5px;
			padding-left: 7.5px;
		}
		.btn {
			padding: 8px 25px;
		}
	}
}

.text-editor {
	position: relative;
	overflow: hidden;
	.text-editor-hide {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40%;
		background: rgba(255, 255, 255, 0);
		@include filter-gradient(rgba(250, 250, 250, 0), rgba(250, 250, 250, 1), vertical);
		@include background-image(linear-gradient(top,  rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 1) 100%));
	}
	&.open {
		height: auto !important;
		@include transition(.05s ease-in);
		.text-editor-hide {
			display: none !important;
		}
	}
}

.open-more {
	i {
		font-size: em(9);
	}
}

.bg-cover-center {
	display: block;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.full-image-container {
	width: 100%;
}

.full-image-in-box {
	width: 100%;
	height: 100%;
	overflow: hidden;
	&.landscape {
		img {
			width: 100%;
			height: auto;
		}
	}
}
.full-image-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	@include filter-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), vertical);
	@include background-image(linear-gradient(top,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%));
	@include transition(.05s ease-in);
	.text {
		display: block;
		position: absolute;
		width: 100%;
		padding: 15px;
		bottom: -10px;
		* {
			color: $white;
			@include text-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
		}
		a {
			display: block;
		}
	}
}

.list-name {
	font-size: em(12);
	letter-spacing: 1px;
	position: relative;
	font-family: $font-bold;
	text-transform: uppercase;
	span {
		display: inline-block;
		background-color: $white;
		padding: 10px 15px 10px 0;
	}
	&:before {
		content: '';
		border-bottom: 1px solid $border;
		position: absolute;
		top: 50%;
		width: 100%;
		z-index: -1;
	}
}

.contact-info-content {
	padding: 15px;
	text-align: center;
	.contact-photo {
		margin: 15px auto;
	}
	.text {
		line-height: em(21);
		> * {
			display: block;
		}
	}
	.contact-name {
		font-family: $font-bold;
		font-size: em(16);
		color: $black;
	}
}

.pagination {
	margin-top: 45px;
	margin-bottom: 100px;
	ul {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
		&:after {
			@include clear;
		}
		li {
			display: inline-block;
			span, a {
				padding: 5px 14px;
			}
			a {
				display: block;
				color: $gray;
				@include border-radius(3px);
				&.active {
					background-color: $green;
					font-weight: bold;
					color: $white;
					&:hover {
						color: $white;
					}
				}
				&:hover {
					color: $green;
				}
			}
			i {
				font-size: em(10);
			}
			&:first-child, &:last-child {
				a {
					background-color: $softwhite;
					@include box-shadow(0 1px 0 $white);
					&:hover {
						background-color: darken($softwhite, 5%);
					}
				}
			}
		}
	}
}

.love {
	display: inline;
	.btn {
		padding: 2px 0;
	}
	i {
		display: inline-block;
		vertical-align: middle;
		color: $pink;
	}
}

.star {
	ul {
		display: inline-block;
		vertical-align: middle;
		&:after {
			@include clear;
		}
	}
	li {
		display: block;
		margin-right: 8px;
		color: $yellow;
		font-size: em(15);
		float: left;
		&:last-child {
			margin-right: 0;
		}
	}
}

.for-article {
	.date {
		color: $gray3;
	}
	.article-title-category {
		position: absolute;
		bottom: 5px;
		left: 5px;
		z-index: $two;
	}
	.article-image {
		> a {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: $two;
			@include transition(.15s ease-out);
		}
		&:hover {
			> a {
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
	}
	.head-title {
		font-size: em(14);
		line-height: em(24);
		&:after {
			display: none;
		}
	}
	.article-title {
		font-family: 'libre_regular';
		&.on-image {
			margin-top: 5px;
			font-family: 'libre_bold';
			font-size: em(18);
			line-height: em(21);
			@include text-shadow(0 1px 5px $black);
			a {
				color: $white;
			}
		}
	}
}

.user-verification {
	margin: 5px 0;
	color: $gray2;
	@extend .small-text;
	i {
		color: $purple;
		vertical-align: middle;
	}
}

.total-image {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 8px 3px;
	color: $white;
	background-color: rgba(0, 0, 0, 0.8);
	i {
		margin-right: 5px;
		vertical-align: middle;
	}
}

.stat-graph-container {
	background-color: $white;
	@include box-shadow(0 0 5px #e5e5e5);
	@include border-radius(3px);
	.graph-head,
	.graph-body,
	.graph-foot {
		padding: 15px;
	}
	.graph-head {
		.dropdown-menu {
			z-index: 2;
		}
		i {
			color: $text;
		}
		.btn-group {
			.btn {
				min-width: 0;
				&:active,
				&:focus,
				&.active {
					border-color: $gray2;
					background-color: $gray2;
					color: $white;
					@include text-shadow(none);
				}
				&.active {
					@include box-shadow(inset 0 2px 5px rgba(0, 0, 0, 0.2));
				}
			}
		}
		.tab {
			li {
				display: inline-block;
				margin-right: -4px;
			}
			.active {
				.btn {
					border-color: $gray2;
					background-color: $gray2;
					color: $white;
					@include text-shadow(none);
				}
			}
		}
	}
	.graph-body {
		width: 100%;
		height: 400px;
		border-bottom: 1px solid $softwhite2;
		table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			td {
				position: relative;
				text-align: center;
			}
		}
		.graph-content {
			position: relative;
			width: 100%;
			height: 100%;
		}
		.graph-chart, .graph-time {
			width: 95%;
		}
		.graph-chart {
			height: 360px;
			@include background(linear-gradient($softwhite2 1px, transparent 1px));
			background-size: 100% 2.8em;
		}
		.graph-total {
			position: absolute;
			top: -10px;
			right: 0;
			padding: 0 10px;
			width: 55px;
			height: 100%;
			z-index: 1;
			ul {
				li {
					font-size: em(13);
					color: $gray2;
					&:not(:last-child) {
						margin-bottom: 18px;
					}
				}
			}
		}
		.graph-time {
			table {
				width: 100%;
				font-size: em(13);
				color: $gray2;
				border-collapse: collapse;
				border-spacing: 0;
			}
			td {
				width: 78px;
			}
			ul {
				&:after {
					@include clear;
				}
			}
			li {
				font-size: em(13);
				color: #9b9fa2;
				display: block;
				float: left;
				border-collapse: collapse;
			}
		}
	}
	.graph-foot {
		a {
			display: block;
			color: $green;
			font-style: italic;
			text-align: right;
			font-size: em(13);
			i {
				font-size: em(8);
			}
		}
		.checkbox {
			display: inline-block;
			&:not(:last-child) {
				margin-right: 15px;
			}
			label {
				text-transform: uppercase;
				font-size: em(13);
				&:after {
					font-size: em(14);
					left: 3px;
					top: 3px;
				}
			}
			#home {
				color: #de1850;
			}
			#apartment {
				color: #009cff;
			}
			#shop {
				color: #ffaf48;
			}
			#land {
				color: #955433;
			}
		}
		&:after {
			@include clear;
		}
	}
}


.notif-list {
	li {
		position: relative;
		display: block;
		border-bottom: 1px solid $border;
		&.unread {
			a {
				background-color: #f8f8f8;
			}
		}
		a {
			display: block;
			padding: 10px;
			color: $text;
			&:hover {
				background-color: #fdfdfd;
			}
		}
	}
	.thumb-image {
		position: absolute;
		left: 10px;
		width: 35px;
		height: 35px;
	}
	.notif-desc {
		margin-left: 45px;
		p {
			width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			font-size: em(14);
		}
		span {
			font-size: em(12);
			color: $gray2;
			&:after {
				display: inline-block;
				content: '|';
				margin: 0 0 0 5px;
			}
			&:last-child {
				&:after {
					content: '';
				}
			}
		}
	}
}

.notif-list-detail {
	min-height: 675px;
	border-top: 1px solid $border;
}

.property-list-spec, .property-list-owner {
	label {
		color: $text;
		margin-right: 5px;
	}
}
.property-list-spec {
	div {
		display: inline-block;
		margin-right: 30px;
	}
}

@include keyframes(load-bar) {
  0%   { width: 0; }
  100% { width: 100%; }
}

.loading-bar {
	position: fixed;
	top: 0;
	width: 0;
	height: 5px;
	z-index: $ten;
	background-color: #e64b94; // Old browsers
	@include filter-gradient(#e64b94, #e64b94, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #e64b94 0%,#c11b69 25%,#a31759 50%,#c11b69 75%,#e64b94 100%));
	@include box-shadow(0 0 5px #e22d82);
	@include animation(load-bar 1s linear);
}

.rku-heart-full{
	color:#FF1493 !important;
}

.src-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
}

.hide-height {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: $black url(../images/message-pattern.png) repeat;
	.text {
		position: absolute;
		top: 50%;
		left: 30%;
		color: $white;
		font-size: em(16);
		@include transform(translateY(-50%) translateX(-20%));
	}
	i {
		font-size: em(48);
	}
}
