@charset "UTF-8";
@font-face {
  font-family: 'rkuv4';
  src: url("fonts/rkuv4.eot?f7prej");
  src: url("fonts/rkuv4.eot?f7prej#iefix") format("embedded-opentype"), url("fonts/rkuv4.ttf?f7prej") format("truetype"), url("fonts/rkuv4.woff?f7prej") format("woff"), url("fonts/rkuv4.svg?f7prej#rkuv4") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="rku-"], [class*=" rku-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rkuv4' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rku-linkedin:before {
  content: "";
}

.rku-gear:before {
  content: "";
}

.rku-profile:before {
  content: "";
}

.rku-leads:before {
  content: "";
}

.rku-print:before {
  content: "";
}

.rku-dashboard:before {
  content: "";
}

.rku-home:before {
  content: "";
}

.rku-whatsapp:before {
  content: "";
}

.rku-home-search:before {
  content: "";
}

.rku-quote:before {
  content: "";
}

.rku-banner:before {
  content: "";
}

.rku-verified:before {
  content: "";
}

.rku-youtube:before {
  content: "";
}

.rku-pinterest:before {
  content: "";
}

.rku-upfront:before {
  content: "";
}

.rku-forward:before {
  content: "";
}

.rku-downbottom:before {
  content: "";
}

.rku-backward:before {
  content: "";
}

.rku-bbm:before {
  content: "";
}

.rku-line:before {
  content: "";
}

.rku-envelope:before {
  content: "";
}

.rku-phone-2:before {
  content: "";
}

.rku-exit:before {
  content: "";
}

.rku-label:before {
  content: "";
}

.rku-user:before {
  content: "";
}

.rku-flag:before {
  content: "";
}

.rku-share:before {
  content: "";
}

.rku-statistic:before {
  content: "";
}

.rku-facebook:before {
  content: "";
}

.rku-twitter:before {
  content: "";
}

.rku-instagram:before {
  content: "";
}

.rku-gplus:before {
  content: "";
}

.rku-doc-1:before {
  content: "";
}

.rku-doc-2:before {
  content: "";
}

.rku-message-1:before {
  content: "";
}

.rku-message-2:before {
  content: "";
}

.rku-marker-1:before {
  content: "";
}

.rku-marker-2:before {
  content: "";
}

.rku-marker-3:before {
  content: "";
}

.rku-image-1:before {
  content: "";
}

.rku-image-2:before {
  content: "";
}

.rku-camera-1:before {
  content: "";
}

.rku-camera-2:before {
  content: "";
}

.rku-review:before {
  content: "";
}

.rku-rating-empty:before {
  content: "";
}

.rku-rating-half:before {
  content: "";
}

.rku-rating-full:before {
  content: "";
}

.rku-filter-1:before {
  content: "";
}

.rku-filter-2:before {
  content: "";
}

.rku-filter-3:before {
  content: "";
}

.rku-list:before {
  content: "";
}

.rku-grid:before {
  content: "";
}

.rku-map:before {
  content: "";
}

.rku-sort-1:before {
  content: "";
}

.rku-sort-2:before {
  content: "";
}

.rku-menu-bar:before {
  content: "";
}

.rku-phone:before {
  content: "";
}

.rku-sand-time:before {
  content: "";
}

.rku-fax:before {
  content: "";
}

.rku-calendar-1:before {
  content: "";
}

.rku-calendar-2:before {
  content: "";
}

.rku-menu-bullet:before {
  content: "";
}

.rku-inbox:before {
  content: "";
}

.rku-magnifier:before {
  content: "";
}

.rku-bell:before {
  content: "";
}

.rku-expand-1:before {
  content: "";
}

.rku-expand-2:before {
  content: "";
}

.rku-land-area:before {
  content: "";
}

.rku-building-area:before {
  content: "";
}

.rku-mortgage:before {
  content: "";
}

.rku-upload-1:before {
  content: "";
}

.rku-save:before {
  content: "";
}

.rku-delete:before {
  content: "";
}

.rku-coin:before {
  content: "";
}

.rku-view:before {
  content: "";
}

.rku-like:before {
  content: "";
}

.rku-dislike:before {
  content: "";
}

.rku-upload-2:before {
  content: "";
}

.rku-download:before {
  content: "";
}

.rku-file-pdf:before {
  content: "";
}

.rku-file-xls:before {
  content: "";
}

.rku-file-doc:before {
  content: "";
}

.rku-camera-3:before {
  content: "";
}

.rku-police:before {
  content: "";
}

.rku-dumbell:before {
  content: "";
}

.rku-pool:before {
  content: "";
}

.rku-ball:before {
  content: "";
}

.rku-basket-ring:before {
  content: "";
}

.rku-parking:before {
  content: "";
}

.rku-flower:before {
  content: "";
}

.rku-hall:before {
  content: "";
}

.rku-bed:before {
  content: "";
}

.rku-sofa:before {
  content: "";
}

.rku-laundry:before {
  content: "";
}

.rku-shower:before {
  content: "";
}

.rku-lift:before {
  content: "";
}

.rku-heart-empty:before {
  content: "";
}

.rku-heart-full:before {
  content: "";
}

.rku-angle-top:before {
  content: "";
}

.rku-angle-right:before {
  content: "";
}

.rku-angle-bottom:before {
  content: "";
}

.rku-angle-left:before {
  content: "";
}

.rku-arrow-top:before {
  content: "";
}

.rku-arrow-right:before {
  content: "";
}

.rku-arrow-bottom:before {
  content: "";
}

.rku-arrow-left:before {
  content: "";
}

.rku-check:before {
  content: "";
}

.rku-cross:before {
  content: "";
}
