$icomoon-font-path: "fonts" !default;

$rku-linkedin: "\e96b";
$rku-gear: "\e96a";
$rku-profile: "\e967";
$rku-leads: "\e969";
$rku-print: "\e968";
$rku-dashboard: "\e961";
$rku-home: "\e962";
$rku-whatsapp: "\e963";
$rku-home-search: "\e964";
$rku-quote: "\e965";
$rku-banner: "\e966";
$rku-verified: "\e960";
$rku-youtube: "\e95e";
$rku-pinterest: "\e95f";
$rku-upfront: "\e95a";
$rku-forward: "\e95b";
$rku-downbottom: "\e95c";
$rku-backward: "\e95d";
$rku-bbm: "\e958";
$rku-line: "\e959";
$rku-envelope: "\e956";
$rku-phone-2: "\e957";
$rku-exit: "\e955";
$rku-label: "\e953";
$rku-user: "\e954";
$rku-flag: "\e951";
$rku-share: "\e952";
$rku-statistic: "\e950";
$rku-facebook: "\e94c";
$rku-twitter: "\e94d";
$rku-instagram: "\e94e";
$rku-gplus: "\e94f";
$rku-doc-1: "\e900";
$rku-doc-2: "\e901";
$rku-message-1: "\e902";
$rku-message-2: "\e903";
$rku-marker-1: "\e904";
$rku-marker-2: "\e905";
$rku-marker-3: "\e906";
$rku-image-1: "\e907";
$rku-image-2: "\e908";
$rku-camera-1: "\e909";
$rku-camera-2: "\e90a";
$rku-review: "\e90b";
$rku-rating-empty: "\e90c";
$rku-rating-half: "\e90d";
$rku-rating-full: "\e90e";
$rku-filter-1: "\e90f";
$rku-filter-2: "\e910";
$rku-filter-3: "\e911";
$rku-list: "\e912";
$rku-grid: "\e913";
$rku-map: "\e914";
$rku-sort-1: "\e915";
$rku-sort-2: "\e916";
$rku-menu-bar: "\e917";
$rku-phone: "\e918";
$rku-sand-time: "\e919";
$rku-fax: "\e91a";
$rku-calendar-1: "\e91b";
$rku-calendar-2: "\e91c";
$rku-menu-bullet: "\e91d";
$rku-inbox: "\e91e";
$rku-magnifier: "\e91f";
$rku-bell: "\e920";
$rku-expand-1: "\e921";
$rku-expand-2: "\e922";
$rku-land-area: "\e923";
$rku-building-area: "\e924";
$rku-mortgage: "\e925";
$rku-upload-1: "\e926";
$rku-save: "\e927";
$rku-delete: "\e928";
$rku-coin: "\e929";
$rku-view: "\e92a";
$rku-like: "\e92b";
$rku-dislike: "\e92c";
$rku-upload-2: "\e92d";
$rku-download: "\e92e";
$rku-file-pdf: "\e92f";
$rku-file-xls: "\e930";
$rku-file-doc: "\e931";
$rku-camera-3: "\e932";
$rku-police: "\e933";
$rku-dumbell: "\e934";
$rku-pool: "\e935";
$rku-ball: "\e936";
$rku-basket-ring: "\e937";
$rku-parking: "\e938";
$rku-flower: "\e939";
$rku-hall: "\e93a";
$rku-bed: "\e93b";
$rku-sofa: "\e93c";
$rku-laundry: "\e93d";
$rku-shower: "\e93e";
$rku-lift: "\e93f";
$rku-heart-empty: "\e940";
$rku-heart-full: "\e941";
$rku-angle-top: "\e942";
$rku-angle-right: "\e943";
$rku-angle-bottom: "\e944";
$rku-angle-left: "\e945";
$rku-arrow-top: "\e946";
$rku-arrow-right: "\e947";
$rku-arrow-bottom: "\e948";
$rku-arrow-left: "\e949";
$rku-check: "\e94a";
$rku-cross: "\e94b";

